*{

    font-family: 'Nunito Sans', sans-serif;

}


#container{
    background-image:  linear-gradient(to bottom, #03293c, #015b88);
    text-align: center;
    padding-top: 60px;
}
#container>h3{
    font-size: 30px;
    font-weight: 600;
    background: violet;
    width:250px;
    margin: auto;
    border-radius:20px ;
    color: white;

}
#getStatrforfreeButton a{
    color: #fff;
}

#container>h1{
    color: white;
    font-size: 50px;
    font-weight: 200;
    line-height: 50px;
}
#container>h1>span{
    color: #00a9fd;
    font-size: 53px;
    font-weight: 1000;
}






#container>p{
    font-size: 29px;
    color: #fff;
    margin-bottom: -50px;
}
#container>img{
    width:100%;
}
#container>input,#container2>input,#container3>input,#container5>input{
    margin-top: 50px;
    padding: 19px 50px;
    border-radius: 7px;

}
#container>button,#container2>button,#container3>button,#container5>button{
    margin-top: 50px;
    padding: 15px 50px;
    border-radius: 7px;
    font-size:20px ;
    margin-left:10px;
    margin-bottom: 20px;
    border: #fff;
    background: rgb(44,90,132);
background: linear-gradient(60deg, rgba(44,90,132,1) 0%, rgba(8,70,111,1) 26%, rgba(8,90,132,1) 41%, rgba(0,212,255,1) 100%);
}
#container>button>a,#container2>button>a,#container3>button>a,#container5>button>a{
    color: #fff;
}
#container>button:hover,#container2>button:hover,#container3>button:hover,#container2>button:hover{
    padding: 16px 52px;

}
#container2{
    text-align: center;
    margin-top: 50px;
}
#container2>p:nth-child(1){
    font-size: 50px;
}
#container2>p:nth-child(1)>span:nth-child(1){
    color: #2386c8;
}
#container2>p:nth-child(1)>span:nth-child(2){
    font-weight: bold;
}
#container2>p:nth-child(2){
    margin-top: 10px;
    font-size: 20px;
    line-height: 50px;
}
#container2>img{
    margin-top: 50px;
    width:60%;
}
#container3{
    padding-top: 50px;
    padding-bottom: 50px;

    text-align: center;
    background: #00314b;
}
#container3>p:nth-child(1){
    font-size: 50px;
    color: #fff;
}
#container3>p:nth-child(1)>span{
    color: #68b1e2;
}
#container3>p:nth-child(2){
    color: #fff;
    font-size: 30px;
    line-height: 50px;
}
#box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    padding: 30px;
}
#box>div>img{
    width:100%;
    border-radius: 7px;
    border: 1px solid black;
}
#box>div>h4{
    color: orange;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}
#box>div>p{
    color: #fff;
    line-height: 20px;
    width:80%;
    margin: auto;
    text-align: center;
}
#container4{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:50px;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#container4>div>img{
    width:100%;
    
}
#container4>div:nth-child(2)>h2{
    color:#2386c8;
    font-size: 40px;
}
#container4>div:nth-child(2)>p{
    color: grey;
    font-size: 25px;
    line-height: 35px;
    padding: 25px 0px 50px 0px;
}
#container4>div>button{
   background: #00a9fd;
   padding: 15px 40px;
   font-size: 25px;
   font-weight: 800;
   color: #fff;
   border-radius: 7px;
   border: 0ch;
   cursor: pointer;
}
#container4>div>button:hover{
    background: #007cba;
   padding: 15px 40px;
   font-size: 25px;
   font-weight: 800;
   color: #fff;
   border-radius: 7px;
   border: 0ch;
   cursor: pointer;
}
#container4>div>button>a{
    color: #fff;
}
#container5{
    text-align: center;
    margin: 50px 0px;
}
#container5>h2{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 100;
    padding: 50px 0px;
    color: gray;
}
#container6{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 150px;
}
#container6>div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
#container6>div>div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
#container6>h1{
    font-size: 50px;
    margin-top: 50px;
    color: #000000c3;
}
#container6>h1>span{
    color: #00a9fd;
}
#container6>div>div>img{
    width:90%;
    padding: 20px;
}
#container6>p{
    font-size: 30px;
    color: rgb(65, 64, 61);
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}
#container6>div>div>h2{
    margin: 25px 0px;
}
#container6>div>div>p{
    margin: 25px 0px;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;

}
#container6>button{
    background: #00a9fd;
    border-radius: 10px;
    padding: 20px 80px;
    margin: 50px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin-bottom: 40px;
}
#container6>button:hover{
    background: #175884;
    border-radius: 10px;
    padding: 20px 80px;
    margin: 50px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: sans-serif;
}

@media only screen and (min-device-width: 500px) and (max-device-width: 850px){
    #container3>div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px;
        padding: 30px;
    }
    #container6>div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px;
    }
    #container>h3,#container,h2,#container>p{
        width:100%;
    }
    #container2>p{
        width:100%;
    }
    #container>p{
        width:100%;
    }
    #container>h3,#container,h2,#container>p{
        width:100%;
    }
    #container4>div:nth-child(2)>p{
        color: grey;
        font-size: 16px;
        line-height: 20px;
        padding: 25px 0px 50px 0px;
    }
}
@media only screen and (min-device-width: 300px) and (max-device-width: 500px){
    #container3>div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px;
        padding: 30px;
    }
    #container6>div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:20px;
    }
    #container4>div:nth-child(2)>p{
        color: grey;
        font-size: 16px;
        line-height: 20px;
        padding: 25px 0px 50px 0px;
    }
    #container4{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:50px;
        padding: 50px;
        margin-top: 50px;
    }
}








/* ///////////  gk   gkk   gk  gk ///////////////// */



#getStatrforfreeDiv{
    margin-top: 90px;
    margin-bottom: 60px;

 }
 #getStatrforfreeInput{
    height: 45px;
    width: 300px;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid rgba(128, 128, 128, 0.6);
 }
 #getStatrforfreeButton{
    height: 46px;
    width: 200px;
    background-image:  linear-gradient(to bottom, #36bcff , #046393);
    border: 2px solid #0395df;
    color: white;
    /* font-size: 25px; */
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
 }
 #getStatrforfreeButton:hover{
    height: 46px;
    width: 200px;
    background-image:  linear-gradient(to bottom, #0698e1 , #015580);
    border: 2px solid rgba(205, 205, 205, 0.315);
    color: white;
    /* font-size: 25px; */
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
 }











#ayoaUltimateLogoDiv{
    width: 250px;
    margin-top: 150px;
    display: flex;
    height:45px;
    align-items: center;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    gap: 7.5px;
    background-color: #9120fb;
    color: white;
    font-size: 25px;
    margin: auto;
    font-weight: 900;
    border: none;
}
#ayoaUltimateLogoDiv>img{
    width: 40%;
    margin-left: 15px;
    /* margin: auto; */
}



/* How does ayoa helps  */

#howDoesAyoaHelp{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
#howDoesAyoaHelp video{
    width: 50%;
    height: fit-content;
    margin-top: 130px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: 30px;
}


#howDoesAyoaHelp  h1{
    font-size: 40px;
    font-style: bold;
    margin-left: 50px;
    margin-top: 50px;
    font-weight: 1000;
    font-family: sans-serif;
}
#howDoesAyoaHelp  h1>span{
    font-size: 40px;
    font-style: bold;
    margin-top: 50px;
    font-weight: 1000;
    font-family: sans-serif;
    color: white;
    background-color: #0395df;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
#howDoesAyoaHelp p>span{
    color: #057ebb;
}
#thickDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#howDoesAyoaHelp p{
    width: 70%;
    margin-left: 50px;
    font-size: 18px;
    line-height: 25px;
}
#howDoesAyoaHelp #clickText{
    color: #006b92;
    font-weight: 1000;
    cursor: pointer;
}
#howDoesAyoaHelp #clickText:hover{
    color: #a4a4a4;
    font-weight: 1000;
    cursor: pointer;
}



#findOutMoreButton{
    height: 46px;
    width: 200px;
    background-color: #07a9fa;
    color: white;
    border: none;
    /* font-size: 25px; */
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
 }
 #findOutMoreButton:hover{
    height: 46px;
    width: 200px;
    background-color: #0576af;
    color: white;
    border: none;
    /* font-size: 25px; */
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;

 }
 #howDoesAyoaHelp button{
    margin-left: 50px;
    
 }
 #emptyBox{
    position: absolute;
    position: relative;
    width: 70%;
    height: 680px;
    background-color: #c6e6f694;
    border-radius: 50px;
    z-index:-1;
    top: 670px;
    margin-top: -500px;
    margin-left: 20px;

}



#lineOne{
    margin-top: 200px;
    border:  .5px solid #7c7c7c3c;
}