<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div id="login">
        <img src="https://auth.ayoa.com/images/ayoa-icon.png" alt="">
        <p>Sign in to Ayoa</p>
        <form action="">
            <input type="email" placeholder="Enter your Mail Id" id="email"><br>
             <input type="password" name="" placeholder="Enter Password"  id="password"><br>
             <input type="submit" value="Submit">
        </form>
        <hr>
        <h5 style="color: rgba(0, 0, 0, 0.603);">Don't have an account? <span><a href="../signup/signup.html"> Sign up </a></span></h5>
        <p id="someText">Forgot password?</p>
        <p id="someText">This site is protected by reCAPTCHA and the Google <a href="#">Privacy Policy</a> and <a href="#">Terms of Service</a> apply.</p>
        <hr id="someLine">
        <img src="https://auth.ayoa.com/images/og_logo.svg" alt="">
    </div>
</body>
<script src="./login.js"></script>
</html>
