<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Home</title>
    <link rel="stylesheet" href="./../Home/user.css" />
  </head>

  <body>
    <div id="sidebar">
      <div id="sideone">
        <span>
          <P>By</P><img src="	https://app-assets.ayoa.com/8.94.0/images/og_logo_white.svg" alt="">
        </span>
        <button id="sideHome">
          <img src="https://app-assets.ayoa.com/8.94.0/images/icons/home.svg" alt="">
          <p> Home</p>
        </button>
        <button>
          <img src="https://app-assets.ayoa.com/8.94.0/images/icons/planner.svg" alt="">
          <p> My Planer</p>
        </button>
        <button>
          <img src="	https://app-assets.ayoa.com/8.94.0/images/icons/pulse.svg
          " alt="">
          <p> Team Pulse</p>
        </button>
        <button>
          <img src="	https://app-assets.ayoa.com/8.94.0/images/icons/team.svg
          " alt="">
          <p>Group</p>
        </button>
        <button>
          <img src="	https://app-assets.ayoa.com/8.94.0/images/icons/completed.svg" alt="">
          <p> View Archived</p>
        </button>
        <button>
          <img src="https://app-assets.ayoa.com/8.94.0/images/icons/calendar.svg
          " alt="">
          <p> Calender</p>
        </button>
        <button>
          <img src="	https://app-assets.ayoa.com/8.94.0/images/icons/contacts.svg
          " alt="">
          <p>Contact</p>
        </button>
        <button>
          <img src="https://app-assets.ayoa.com/8.94.0/images/icons/releasenotes.svg" alt="">
          <p>Whats New??</p>
        </button>
        <button>
          <img src="	https://app-assets.ayoa.com/8.94.0/images/icons/support.png" alt="">
          <p> Support</p>
        </button>
        <button>
          <img src="	https://app-assets.ayoa.com/8.94.0/images/icons/integrations.svg" alt="">
          <p> Integration</p>
        </button>
        <button>
          <img src="https://app-assets.ayoa.com/8.94.0/images/icons/share.svg" alt="">
          <p> Recommended</p>
        </button>
      </div>
      <div id="sidetwo">
        <button>
          <span>PP</span>
          <p id="lname"></p>
        </button>
        <button>
          <span><i class="fa-solid fa-gear"></i></span>
          <p>Setting</p>
        </button>


        <button>
          <span><i class="fa-solid fa-right-from-bracket"></i></span>
          <p>LogOut</p>
        </button>




      </div>
    </div>
    <div class="navbar">
      <div id="navone">
        <button id="menu">
          <input type="checkbox" name="" id="sidecheck" style="display: none" />
          <label for="sidecheck" id="lab"
            ><i class="fa-solid fa-bars"></i
          ></label>
        </button>
        <button id="logo">
          <img
            src="https://app-assets.ayoa.com/8.94.0/images/icons/ayoa.svg"
            alt="Logo"
          />
        </button>
      </div>
      <div id="navtwo">
        <button>
          <img
            src="https://app-assets.ayoa.com/8.94.0/images/icons/home.svg"
            alt="Home"
          />
        </button>
        <button>
          <img
            src="https://app-assets.ayoa.com/8.94.0/images/icons/pulse.svg"
            alt="Task list"
          />
        </button>
        <button>
          <img
            src="	https://app-assets.ayoa.com/8.94.0/images/icons/planner.svg"
            alt="Notification"
          />
        </button>
        <button>
          <img
            src="	https://app-assets.ayoa.com/8.94.0/images/icons/notifications-icon.png"
            alt=""
          />
        </button>
        <button>
          <img
            src="https://app-assets.ayoa.com/8.94.0/images/icons/search-icon.png
          "
            alt="Search"
          />
        </button>
      </div>
      <div id="navthree">
        <button id="home">Home</button>
      </div>
    </div>

    <!-- ===========================nav barr endddd======================== -->

    <div id="container">
      <div id="sidediv">
        <div>
          <div>
            <img
              src="https://app-assets.ayoa.com/8.94.0/images/icons/home.svg"
              alt=""
            />
            <p class="sid_p">Home</p>
          </div>
          <div>
            <img
              src="https://app-assets.ayoa.com/8.94.0/images/folders/folders.svg"
              alt=""
            />
            <p class="sid_p">Folders</p>
          </div>
        </div>
        <div>
          <div>
            <img
              src="	https://app-assets.ayoa.com/8.94.0/images/folders/templates.svg"
              alt=""
            />
            <p class="sid_p">My Templates</p>
          </div>
          <div>
            <p id="archive"><i class="fa-solid fa-box-archive"></i></p>
            <p class="sid_p">Archive</p>
          </div>
        </div>
      </div>
      <div id="mainSideDiv">
        <div style="height: 70px" id="name">
          <h1 id="localname"></h1>
        </div>

        <div style="height: 70px" id="search_DIV">
        
          <button id="create" onclick="myFunction()">
            
           
            <p> <i class="fa-solid fa-plus"></i></i></i><p id="btnCN">Create New</p></p>
           
           

          </button>
         
          <input
            type="text"
            name=""
            id="searchItem"
            placeholder="Search Board"
          />
          
          <select name="" id="alpha" class="fiiled">
            <option value="">Alphabetical</option>
            <option value="">Recent Added</option>
            <option value="">Recently Created</option>
            <option value="">Recently Updated</option>
          </select>

          <select name="" id="beta" class="fiiled">
            <option value="">All</option>
            <option value="">Mind Map</option>
            <option value="">WhiteBoard</option>
            <option value="">TaskBoard</option>
          </select>
        </div>
        <div >
          <div id="togal">
           <div>
            <span><a href="./../Home/whiteboard/whiteboard.html">WhiteBoard</a></span>
            <span><a href="./../Home/mind-app/mind-map.html">Mind Map</a></span>
           </div>
           <div>
            <img src="	https://app-assets.ayoa.com/8.94.0/images/home/home-idea-boards.svg
          
    
            " alt="">
    
            <p>Grow and structure ideas using radial, speed, or organic style mind maps.</p>
           </div>
          </div>
        </div>
      </div>
    </div>

   
  </body>
 
</html>
<script src="./../Home/user.js"></script>
