* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  user-select: none;

}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  width: 270px;
  background-color: #002849;
  transition: background-color 200ms;
  transform: translateX(-270px);
  transition: transform 250ms ease-in-out;
  border-radius: 8px;
}

#sideone {
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow-y: scroll;
  margin-top: 45px;
}

#sideone > span img {
  width: 110px;
}

#sideone > span {
  display: flex;
  margin-left: 50px;
}

#sideone p,
#sidetwo p {
  color: #fff;
  padding-right: 10px;
}

#sideone > button,
#sidetwo > button {
  margin-bottom: 30px;
  background-color: #002849;
  padding: 5px 0 5px 10px;
}

#sideone > button p,
#sidetwo > button p {
  margin-left: 40px;
  margin-top: -25px;
  width: 150px;
  text-align: left;
}

#sidetwo {
  display: flex;
  flex-direction: column;
}

#sidetwo > button span {
  color: #fff;
}

#sidetwo > button:nth-child(1) > span {
  background-color: orange;
  border-radius: 50%;
  padding: 5px;
}

.navbar {
  display: grid;
  grid-template-columns: 20% 32% 54%;
  background: #1794ff;
  align-items: center;
  width: 100%;
  padding: 5px 0 0px 0;
}

#navtwo {
  border-left: 1px solid #1577c7;
  border-right: 1px solid #1577c7;
}

.navbar img {
  width: 100%;
}

button {
  height: 30px;
  width: 30px;
  background: #1794ff;
  border: none;

  margin-left: 20px;
}

#home {
  color: #ffffff;
  font-size: 20px;
}

button {
  font: 1.2em "consolas";
  transition: transform 300ms ease;
  z-index: 2;
}

button:active {
  transform: scale(0.95);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#navone {
  display: flex;
  align-items: center;
}

#logo img {
  width: 90px;
}

#logo {
  margin-right: 80px;
}

/* ===========================navbar end========================================= */

#container {
  display: grid;
  grid-template-columns: 25% 75%;
}

#name {
  display: flex;
  align-items: center;
}

#name h1 {
  font-weight: 600;
  font-size: 24px;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #3c3f43;
}

#sidediv {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  padding: 10px;
  margin-top: 56px;
}

#sidediv > div > div {
  display: flex;
  margin: 10px;
  padding: 10px;
  height: 40px;
  border-radius: 13px;
}

#sidediv > div > div:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#sidediv > div > div p {
  padding: 10px 0 10px 10px;
}

/* ===================?mew============================= */

#sidediv2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  padding: 10px;
  margin-top: 56px;
  display: none;
}

#sidediv2 > div > div {
  display: flex;
  margin: 10px;
  padding: 10px;
  height: 40px;
  border-radius: 13px;
}

#sidediv2 > div > div:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#sidediv > div > div p {
  padding: 10px 0 10px 10px;
}

/* =============================end================================ */
#archive {
  font-size: 20px;
}

#mainSideDiv {
  display: grid;
  grid-template-rows: 10% 10% 90%;
  gap: 40px;
}

#mainSideDiv > div {
  border: 1px soid black;
}

.icon_search {
  color: #1794ff;

  position: absolute;
  right: 605px;
}

#search_DIV {
  display: flex;

  align-items: center;
  gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
}

#create {
  height: 55px;
  width: 100px;
  padding: 0px 2px 8px 2px;
  border-radius: 13px;
  color: #fff;
  z-index: -10;
}

#searchItem {
  border-radius: 8px;
  box-sizing: unset;

  -webkit-box-pack: center;

  -webkit-box-align: center;
  align-items: center;
  padding: 0.65em 0.8em 0.65em 0.65em;
  font-size: 14px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(190, 213, 229);
  border-radius: 0.6em;
  width: 200px;
  height: 1em;
  outline: none;
}

.fiiled {
  box-sizing: unset;

  -webkit-box-pack: center;

  -webkit-box-align: center;
  align-items: center;
  padding: 0.65em 0.8em 0.65em 0.65em;
  font-size: 14px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(190, 213, 229);
  border-radius: 0.6em;
  width: 200px;
  height: 1em;
}

.fa-bars {
  color: #fff;
}

.fa-plus {
  display: none;
}

#mainSideDiv input {
  outline: none;
}

#togal {
  height: 100px;
  width: 400px;
  
 
  border-radius: 5px 5px 0 5px;
  display: grid;
  grid-template-columns: 40% 60%;
 
  

  
}
#togal>div{
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  
}
#togal>div:nth-child(1){
  display: flex;
  flex-direction: column;


}
#togal>div:nth-child(2){
  padding: 8px;
}
#togal>div:nth-child(1)>span{
  border-bottom: 0.1px solid rgb(182, 176, 176);
  border-right: 0.1px solid rgb(182, 176, 176);
  
  padding: 10px 5px 10px 5px;

}
#togal a{
  text-decoration: none;
  color:rgb(112, 112, 112);
  font-size: 14px;
  font-weight: 600;
 
}


@media all and (min-width: 401px) and (max-width: 870px) {
  #navtwo {
    display: none;
  }

  .sid_p {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  #beta {
    width: 40px;
  }

  #alpha {
    width: 70px;
  }

  #create {
    width: 60px;
    height: 40px;
    padding-top: 2px;
  }

  #btnCN {
    display: none;
  }

  .fa-plus {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
  }
}

/* Small screens */

@media all and (min-width: 100px) and (max-width: 600px) {
  #navthree {
    text-align: right;
  }

  #navtwo {
    display: none;
  }

  .sid_p {
    display: none;
  }

  #btnCN {
    display: none;
  }

  .fa-plus {
    display: block;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
  }

  #create {
    width: 40px;
    height: 30px;
    padding-top: 2px;
  }

  .navbar {
    justify-content: space-between;
  }

  #beta {
    width: 30px;
  }

  #alpha {
    width: 30px;
  }

  #searchItem {
    width: 40px;
  }
}
