<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayoa Signup</title>
    <link rel="stylesheet" href="signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="sign">
        <div id="ratingg">
            <img src="https://auth.ayoa.com/images/signup/rating.png" alt="rating">
            <h5>1000+ reviews across Capterra, App store and Google Play</h5>
            <p>Join over 1.5 million people who love using our software solutions to help them achieve great things.</p>
            <div>
                <div>
                    <img src="https://auth.ayoa.com/images/signup/mindmap.png" alt="">
                </div>
                <div>
                    <strong>Capture your best ideas</strong>
                    <p>When faced with a project or decision, use the power of Mind Mapping in Ayoa to explore all of your creative solutions.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="https://auth.ayoa.com/images/signup/task.png" alt="">
                </div>
                <div>
                    <strong>Turn ideas into action</strong>
                    <p>Transform your ideas into actionable tasks you can track from planning to execution. Assign teammates, add comments and attach files.</p>
                </div>
            </div>
            <div>
                <div>
                    <img src="https://auth.ayoa.com/images/signup/planner.png" alt="">
                </div>
                <div>
                    <strong>Manage your priorities</strong>
                    <p>Productivity isn't just about getting stuff done, but getting the right stuff done. Manage your workload to perfection with the flexibility of your Ayoa Planner.</p>
                </div>
            </div>
            <img src="https://auth.ayoa.com/images/og_logo_white.svg" alt="">
        </div>
        <div id="signupp">
            <img src="https://auth.ayoa.com/images/ayoa-icon-logo.png" alt="">
            <p>Create your account below to get started.</p>
            <input type="text" id="name" placeholder="Enter First and last name"><br>
            <input type="email" id="email" placeholder="Enter valid Email Id"><br>
            <input type="password" name="" id="password" placeholder="Password"><br>
            <div >
                <div><input type="checkbox" name="" id=""></div>
                    
                <div><p>I agree to the Ayoa Terms & Conditions, License Agreement and Privacy Policy.</p></div>
            </div>
            <div >
                <div><input type="checkbox" name="" id=""></div>
                    
                <div><p>Tick to receive offers, vouchers, free bonuses, how-to guides, and marketing communications. We will also immediately send you a welcome 5% discount code off all annual plans. You can change your email preferences at any time.</p></div>
            </div>
            <button onclick="submit()">Sign up its free</button>

            <hr>
            <strong>Already have an account? <a href="../login/login.html">Sign in</a></strong>
            <p id="cc">This site is protected by reCAPTCHA and the Google Privacy Policy and Terms of Service apply.</p>
            <hr>
            <img class="img" src="https://auth.ayoa.com/images/og_logo.svg" alt="">
        </div>
    </div>
</body>
<script src="./signup.js"></script>
</html>

