<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./credit.css" />
  </head>
  <body>
    <div id="nav">
      <div id="nav1">
        <img
          src="https://tse1.mm.bing.net/th?id=OIP.0_0Rm3i856XgOueOqRlYggHaCR&pid=Api&P=0"
        />
        <div id="border"></div>
        <a href="https://app.ayoa.com/">AyoaGo to app.ayoa.com</a>
      </div>
    </div>
    <div id="nav3">
      <div id="top">
        <div id="i"></div>
        <div>
          <p id="p">SIGNED IN AS</p>
          <h1 id="sign">(person login)</h1>
          <h2 onclick="log()">logout</h2>
        </div>
      </div>
      <div id="bottom">
        <div id="hover">
          <img
            class="im"
            src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png"
          />
          <h1>Profile</h1>
        </div>
        <div id="hover">
          <img
            class="im"
            src="https://cdn-icons-png.flaticon.com/512/2058/2058432.png"
          />
          <h1>Security</h1>
        </div>
        <div id="hover">
          <img
            class="im"
            src="https://cdn-icons-png.flaticon.com/512/2499/2499651.png"
          />
          <h1>Notification and Emails</h1>
        </div>
        <div id="hover">
          <img
            class="im"
            src="https://cdn-icons-png.flaticon.com/512/4730/4730393.png"
          />
          <h1>Ayoa Subscription</h1>
        </div>
        <div id="hover">
          <h1>App Setting</h1>
        </div>
        <div id="hover">
          <img
            class="im"
            src="https://cdn-icons-png.flaticon.com/512/3118/3118883.png"
          />
          <h1>Task Board</h1>
        </div>
        <div id="hover">
          <img
            class="im"
            src="https://cdn-icons-png.flaticon.com/512/1620/1620735.png"
          />
          <h1>Tag</h1>
        </div>
        <div id="hover">
          <img
            class="im"
            src="https://cdn-icons-png.flaticon.com/512/1034/1034153.png"
          />
          <h1>Contacts</h1>
        </div>
        <div id="hover">
          <img
            class="im"
            src="https://cdn-icons-png.flaticon.com/512/4618/4618560.png"
          />
          <h1>Integrations</h1>
        </div>
      </div>
    </div>
    <div id="heading">
      <h1>Ayoa Subscription</h1>
    </div>
    <div id="heading1">
      <h1 id="text1">Your free trial</h1>
      <div id="flex4">
        <h1>Plan</h1>
        <h2>Ayoa Ultimate Annual (Single User)</h2>
      </div>
      <div id="flex5">
        <h1>Active</h1>
        <h2>Trial status</h2>
      </div>
      <div id="flex6">
        <h1>Expires date</h1>
        <h2>30th August 2022 12:35</h2>
      </div>
      <div id="flex7"><a href="../../pricing/pricing.html">View Plans</a></div>
    </div>
    <div id="heading2">
      <div id="flex9">
        <h1>AI credits</h1>
      </div>
      <div id="flex10">
        <h1>You currently have 200 AI credits.</h1>
      </div>
    </div>
  </body>
  <script src="./Scripts/credit.js"></script>
</html>
