*{
        font-family: sans-serif;
        font-family: 'Nunito Sans', sans-serif;
        /* font-size: 19px; */
}
.pageNavbar{
    width: 95%;
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 19px;
}


#neurodiversityText{
    margin: 30px 0;
}


nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    color: #cee1ea;
    cursor: pointer;
}
nav ul li:hover{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    color: #00a9fd;
    cursor: pointer;
}
#overview{
    border: 2px solid #00a9fd;
    padding: 5px 10px;
    border-radius: 5px;
}
#overview:hover{
    border: 2px solid #79d0fc;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}
#softwareButton{
    padding: 13px 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    background-color:  #00a9fd ;
}
#softwareButton:hover{
    padding: 13px 20px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    background-color: #0184c5 ;
}
/* .navbarContainer{
    background-color: black;
} */

.bgContainer{
    /* width: 100%; */
    width: 100%;
    height: auto;
    /* background-color: black; */
    background-image:  linear-gradient(to bottom, #03293c, #015b88);
    color: white;
    padding-bottom: 100px;
}

#topContent{
    color: white;
}
#nextContent{
    width: 100%;

}
#brainImage{
    width: 100%;
    margin: auto;
}
#topContent{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

#para1{
    font-size: 20px;
    color: #cee1ea;
    margin: 20px 20px;
    font-family: open sans-serif;
}
#para1 span{
    font-size: 30px;
}

#para1 {
    text-align: right;
}
#whatIsNeurodiversity{
    font-size: 50px;
    color: #00a9fd;
}
#whatIsNeurodiversity>span{
    color: white;
    /* font-size: 49px; */
}
#nextContent > div{
    width: 80%;
    margin: auto;
    font-size: 20px;
    font-weight: 20px;
    color: #cee1ea;
    font-family: sans-serif;
    line-height: 35px;
}

/* Types of neurodiversity */

#typesOfNeurodiversity{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #555454;
}
#threeBythree{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#typesOfNeurodiversity>h1 ,p>b{
    color: black;
    line-height: 46px;
}
#typesOfNeurodiversity>h1 span{
    color: #df006d;
}
#typesOfNeurodiversity p{
    line-height: 39px;
}
#typesOfNeurodiversity{
    margin-top: 70px;
}
#typesOfNeurodiversity>h1{
    font-size: 50px;
}

/* Neurodiverse vs Neurodivergent */
#nVSn{
    background-color: rgb(251, 241, 223);
    text-align: center;
    color: #555454;
    font-size: 20px;
}
#nVSn  h1{
    color: orange;
    margin-bottom: 50px;
    font-size: 65px;
}
#nVSn  h1 span{
    color: black;
    font-size: 65px;
}
#nVSn > div{
    width: 90%;
    margin: auto;
    padding: 40px;
}
#nVSn p{
    width: 80%;
    margin: auto;
}


 /* How does Ayoa help? */

#howDoesAyoaHelp{
    display: flex;
    width: 90%;
    margin: auto;
    color: #555454;
    font-size: 20px;
    justify-content: space-between;
    line-height: 30px;
    margin-bottom: 100px;

}
#howDoesAyoaHelp>div{
    width: 50%;
}
#howDoesAyoaHelp>img{
    width: 45%;
    margin-top: 30px;
}
#howDoesAyoaHelp>div>h1{
    color: #00a9fd;
}
#someHoneTagOne{
    text-align: center;
    font-size: 50px;
    font-style: bold;
    margin-top: 80px;
}
/* for pick color  */
#howDoesAyoaHelp>div>#pinkHeadng{
    color: #fe757c;
}
#howDoesAyoaHelp>div>#greenColorHeading{
    color: #7ccb4c;
}
#howDoesAyoaHelp p>span{
    color: black;
    font-size: 27px;
}











/* //////////////////// */

@media all and (min-width:700px) and (max-width:1000px) {

    #topContent{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #nextContent{
        font-size: 25px;
    }





    #howDoesAyoaHelp{
        display: flex;
        width: 100%;
        margin: auto;
        color: #555454;
        font-size: 20px;
        justify-content: space-between;
        line-height: 40px;
        margin-bottom: 100px;
    
    }
    #howDoesAyoaHelp>div{
        width: 90%;
    }
    #howDoesAyoaHelp>img{
        width: 45%;
        margin-top: 30px;
        height: fit-content;
        margin-top: 50px;
    }
    #howDoesAyoaHelp>div>h1{
        color: #00a9fd;
    }
    #someHoneTagOne{
        text-align: center;
        font-size: 50px;
        font-style: bold;
        margin-top: 80px;
    }
    #howDoesAyoaHelp p{
        margin-top: -35px;
    }
    #threeBythree{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }


    
    #nVSn{
        background-color: rgb(251, 241, 223);
        text-align: center;
        color: #555454;
        font-size: 20px;
    }
    #nVSn  h1{
        color: orange;
        margin-bottom: 50px;
        font-size: 65px;
        width: 70%;
        margin: auto;
        margin-bottom: 60px;
    }
    #nVSn  h1 span{
        color: black;
        font-size: 65px;
    }
    #nVSn > div{
        width: 90%;
        margin: auto;
        padding: 40px;
    }
    #nVSn p{
        width: 55%;
        margin: auto;
        font-size: 25px;
    }



    #howDoesAyoaHelp{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        color: #555454;
        font-size: 20px;
        margin-bottom: 100px;
    
    }
    #howDoesAyoaHelp>div{
        width: 90%;
    }
    #howDoesAyoaHelp>img{
        width: 100%;
    }




   
}





/* //////////////////// */

@media all and (min-width:356px) and (max-width:701px) {

    #topContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;

    }
    #topContent h1{
        margin-left: 50px;
    }
    #topContent p{
        font-size: 20px;
        /* width:350px; */
        width: 80%;
        margin-left: auto;
        text-align: right;
        
    }
    #nextContent{
        font-size: 20px;
    }





    #howDoesAyoaHelp{
        display: flex;
        width: 100%;
        margin: auto;
        color: #555454;
        font-size: 20px;
        justify-content: space-between;
        line-height: 40px;
        margin-bottom: 100px;
    
    }
    #howDoesAyoaHelp>div{
        width: 90%;
    }
    #howDoesAyoaHelp>img{
        width: 45%;
        margin-top: 30px;
        height: fit-content;
        margin-top: 50px;
    }
    #howDoesAyoaHelp>div>h1{
        color: #00a9fd;
    }
    #someHoneTagOne{
        text-align: center;
        font-size: 50px;
        font-style: bold;
        margin-top: 80px;
    }
    #howDoesAyoaHelp p{
        margin-top: -35px;
    }
    #threeBythree{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }


    
    #nVSn{
        background-color: rgb(251, 241, 223);
        text-align: center;
        color: #555454;
        font-size: 20px;
    }
    #nVSn  h1{
        color: orange;
        margin-bottom: 50px;
        font-size: 35px;
        width: 80%;
        margin: auto;
        margin-bottom: 60px;
    }
    #nVSn  h1 span{
        color: black;
        font-size: 35px;
    }
    #nVSn > div{
        width: 90%;
        margin: auto;
        padding: 20px;
    }
    #nVSn p{
        width: 65%;
        margin: auto;
        font-size: 20px;
    }



    #howDoesAyoaHelp{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;
        color: #555454;
        font-size: 20px;
        margin-bottom: 100px;
    
    }
    #howDoesAyoaHelp>div{
        width: 100%;
    }
    #howDoesAyoaHelp>img{
        width: 100%;
    }
    
    
    #whatIsNeurodiversity{
        color: #00a9fd;
        font-size: 40px;

    }
    #whatIsNeurodiversity>span{
        font-size: 40px;
        color: white;
        /* font-size: 49px; */
    }
    #howDoesAyoaHelp p{
        margin-top: 30px;
        line-height: 27px;
    }



   
}